<div class="home-page">
  <header>Resettable Form</header>
  <div ng-if="eventData" data-ut="resettable-reset-triggered">{{ eventData }}</div>
  <form name="resettable" data-ut="resettable">
    {{ $id }}
    <ul>
      <li>
        <label for="first-name">
          First Name: <input id="first-name" ng-model="resettableObject.firstName" name="firstName" type="text" />
        </label>
      </li>
      <li>
        <label for="last-name">
          Last Name: <input id="last-name" ng-model="resettableObject.lastName" name="lastName" type="text" />
        </label>
      </li>
      <li>
        <button>Submit</button>
        <button ng-click="resetResettableForm()" data-ut="reset-resettable">Reset</button>
      </li>
    </ul>
  </form>

  <header>Second Resettable Form</header>
  <form name="secondResettable" data-ut="second-resettable" nag-resettable-form>
    {{ $id }}
    <ul>
      <li>
        <label for="first-name">
          First Name: <input id="first-name" ng-model="secondResettableObject.firstName" name="firstName" type="text" />
        </label>
      </li>
      <li>
        <label for="last-name">
          Last Name: <input id="last-name" ng-model="secondResettableObject.lastName" name="lastName" type="text" />
        </label>
      </li>
      <li>
        <button>Submit</button>
          <button ng-click="resetSecondResettableForm()" data-ut="reset-second-resettable">Reset (with event)</button>
      </li>
    </ul>
  </form>

  <header>Input Element</header>
  <form name="inputElement" data-ut="input-element">
    {{ $id }}
    <ul>
      <li nag-input-element data-ut="no-additional-data">
        <div>
          <label for="first-name">
            First Name:
          </label>
          <input id="first-name" ng-model="inputElementObject.firstName" name="firstName" type="text" nag-input />
        </div>
      </li>
      <li nag-input-element data-ut="additional-data-icons-before">
        <label for="middle-name">
          Middle Name:
        </label>
        <input id="middle-name" ng-model="inputElementObject.middleName" name="middleName" type="text" nag-input />
      </li>
      <li nag-input-element data-ut="additional-data-icons-after">
        <label for="last-name">
          Last Name:
        </label>
        <input id="last-name" ng-model="inputElementObject.lastName" name="lastName" type="text" nag-input />
      </li>
      <li nag-input-element data-ut="additional-data-message-block">
        <label for="email">
          Email:
        </label>
        <input id="email" ng-model="inputElementObject.email" name="email" type="text" nag-input />
      </li>
      <li nag-input-element data-ut="additional-data-message-inline">
        <label for="username">
          Username:
        </label>
        <input id="username" ng-model="inputElementObject.username" name="username" type="text" nag-input />
      </li>
      <li>
        <button>Submit</button>
      </li>
    </ul>
  </form>

  <header>Validation</header>
  <form name="validation" data-ut="validation">
    {{ $id }}
    <ul>
      <li nag-input-element data-validate-on-load="true" data-ut="show-success-with-data-on-load">
        <label for="first-name">
          First Name:
          <span nag-input-element-validation></span>
        </label>
        <input id="first-name" ng-model="validationObject.firstName" name="firstName" type="text" nag-input nag-validate-required />
      </li>
      <li nag-input-element data-ut="show-nothing-on-load">
        <label for="middle-name">
          Middle Name:
          <span nag-input-element-validation></span>
        </label>
        <input id="middle-name" ng-model="validationObject.middleName" name="middleName" type="text" nag-input nag-validate-required />
      </li>
      <li nag-input-element data-ut="required">
        <label for="last-name">
          Last Name:
          <span nag-input-element-validation></span>
        </label>
        <input id="last-name" ng-model="validationObject.lastName" name="lastName" type="text" nag-input nag-validate-required />
      </li>
      <li nag-input-element data-validate-on-load="true" data-ut="show-error-with-data-on-load">
        <label for="email">
          Email:
          <span nag-input-element-validation></span>
        </label>
        <input id="email" ng-model="validationObject.email" name="email" type="text" nag-input nag-validate-required nag-validate-email />
      </li>
      <li nag-input-element data-ut="email">
        <label for="email2">
          Email2:
          <span nag-input-element-validation></span>
        </label>
        <input id="email2" ng-model="validationObject.email2" name="email2" type="text" nag-input nag-validate-email />
      </li>
      <li nag-input-element data-ut="min-length">
        <label for="username">
          Username:
          <span nag-input-element-validation></span>
        </label>
        <input id="username" ng-model="validationObject.username" name="username" type="text" nag-input nag-validate-min-length="5" />
      </li>
      <li nag-input-element data-ut="match1">
        <label for="password">
          Password:
          <span nag-input-element-validation></span>
        </label>
        <input id="password" ng-model="validationObject.password" name="password" type="text" nag-input nag-validate-match="validation.confirmPassword" />
      </li>
      <li nag-input-element data-ut="match2">
        <label for="confirm-password">
          Confirm Password:
          <span nag-input-element-validation></span>
        </label>
        <input id="confirm-password" ng-model="validationObject.confirmPassword" name="confirmPassword" type="text" nag-input nag-validate-match="validation.password" />
      </li>
      <li nag-input-element data-ut="equals">
        <label for="equals">
          Equals:
          <span nag-input-element-validation></span>
        </label>
        <input id="equals" ng-model="validationObject.equals" name="equals" type="text" nag-input nag-validate-equals="equals" />
      </li>
      <li nag-input-element data-ut="max-length">
        <label for="max-length">
          Max Length:
          <span nag-input-element-validation></span>
        </label>
        <input id="max-length" ng-model="validationObject.maxLength" name="maxLength" type="text" nag-input nag-validate-max-length="10" />
      </li>
      <li nag-input-element data-ut="max-value">
        <label for="max-value">
          Max Value:
          <span nag-input-element-validation></span>
        </label>
        <input id="max-value" ng-model="validationObject.maxValue" name="maxValue" type="text" nag-input nag-validate-max-value="10" />
      </li>
      <li nag-input-element data-ut="min-value">
        <label for="min-value">
          Min Value:
          <span nag-input-element-validation></span>
        </label>
        <input id="min-value" ng-model="validationObject.minValue" name="minValue" type="text" nag-input nag-validate-min-value="5" />
      </li>
      <li nag-input-element data-ut="range-length">
        <label for="range-length">
          Range Length:
          <span nag-input-element-validation></span>
        </label>
        <input id="range-length" ng-model="validationObject.rangeLength" name="rangeLength" type="text" nag-input nag-validate-range-length="{min: 5, max: 10}" />
      </li>
      <li nag-input-element data-ut="range-value">
        <label for="range-value">
          Range Value:
          <span nag-input-element-validation></span>
        </label>
        <input id="range-value" ng-model="validationObject.rangeValue" name="rangeValue" type="text" nag-input nag-validate-range-value="{min: 5, max: 10}" />
      </li>
      <li>
        <button>Submit</button>
        <button ng-click="resetValidationForm()" data-ut="reset-validation">Reset</button>
      </li>
    </ul>
  </form>

  <form name="complex">
    <ul>
      <li nag-input-element class="text">
        <label for="complex-textbox">
          Textbox:
          <span nag-input-element-validation></span>
        </label>
        <input id="complex-textbox" ng-model="complexObject.textbox" name="textbox" type="text" nag-input nag-validate-range-length="{min: 2, max: 4}" />
      </li>
      <li nag-input-element class="textarea">
        <label for="complex-textarea">
          Text Area:
          <span nag-input-element-validation></span>
        </label>
        <textarea id="complex-textarea" ng-model="complexObject.textarea" name="textarea" nag-input nag-validate-range-length="{min: 2, max: 4}"></textarea>
      </li>
      <li nag-input-element>
        <label>
          Checkbox:
          <span nag-input-element-validation></span>
        </label>
        <input id="complex-checkbox1" ng-model="complexObject.check1" name="check1" type="checkbox" value="yes" nag-input nag-validate-required /><label for="complex-checkbox1">yes</label>
        <input id="complex-checkbox2" ng-model="complexObject.check2" name="check2" type="checkbox" value="no" nag-input nag-validate-required /><label for="complex-checkbox2">no</label>
      </li>
      <li nag-input-element>
        <label>
          Radio:
          <span nag-input-element-validation></span>
        </label>
        <span ng-form name="radio1" nag-input>
          <input id="complex-radio1" type="radio" name="radio1-1" ng-model="complexObject.radio1" value="1" nag-validate-required /><label for="complex-radio1">option1</label>
          <input id="complex-radio2" type="radio" name="radio1-2" ng-model="complexObject.radio1" value="2" nag-validate-required /><label for="complex-radio2">option2</label>
          <input id="complex-radio3" type="radio" name="radio1-3" ng-model="complexObject.radio1" value="3" nag-validate-required /><label for="complex-radio3">option3</label>
        </span>
      </li>
      <li nag-input-element>
        <label>
          Radio2:
          <span nag-input-element-validation></span>
        </label>
        <span ng-form name="radio2" nag-input>
          <input id="complex-radio2-1" type="radio" name="radio2-1" ng-model="complexObject.radio2" value="1" nag-validate-required /><label for="complex-radio2-1">option1</label>
          <input id="complex-radio2-2" type="radio" name="radio2-2" ng-model="complexObject.radio2" value="2" nag-validate-required /><label for="complex-radio2-2">option2</label>
          <input id="complex-radio2-3" type="radio" name="radio2-3" ng-model="complexObject.radio2" value="3" nag-validate-required /><label for="complex-radio2-3">option3</label>
        </span>
      </li>
      <li nag-input-element>
        <label>
          Select:
          <span nag-input-element-validation></span>
        </label>
        <select name="select" ng-model="complexObject.select" nag-input nag-validate-required>
          <option value="">Choose</option>
          <option value="one">One</option>
          <option value="two">Two</option>
        </select>
      </li>
    </ul>
  </form>

  <header>Form Values</header>
  <ul data-ut="values">
    <li data-ut="resettable-value">Resettable: {{ resettableObject | json }}</li>
    <li data-ut="second-resettable-value">Second Resettable: {{ secondResettableObject | json }}</li>
    <li data-ut="input-element-value">Input Element: {{ inputElementObject | json }}</li>
    <li data-ut="input-element-value">Validation: {{ validationObject | json }}</li>
    <li data-ut="complex-value">Complex: {{ complexObject | json }}</li>
  </ul>
</div>

<script type="text/ng-template">

</script>
