<div ng-message="nagRequired">This field is required</div>
<div ng-message="nagEmail">This is not a valid email address</div>
<div ng-message="nagMinValue">This field is too small</div>
<div ng-message="nagMaxValue">This field is too large</div>
<div ng-message="nagRangeValue">The field is not within the valid value range</div>
<div ng-message="nagMinLength">This field is too short</div>
<div ng-message="nagMaxLength">This field is too long</div>
<div ng-message="nagRangLength">The field is not within the valid length range</div>
<div ng-message="nagMatch">Does Not Match</div>
<div ng-message="nagEquals">Invalid</div>
